@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>"Ren·ais·sance"</h1>
    <p class="lead">Designed to increase YOUR productivtity and knowledge. 
    <br>Learn & Master: skills,languages,exercises & concepts.
    <br />Become a Master in the information era.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This app is all about the development of you. Register with us and have full access to MasterGroups created by your peers. Learn from anyone across the world. Grow from novice to master, and teach others along the way. Log in and master what you love.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How MasterGroups Work</h2>
        <p>Join our community by creating a profile, instantly you will have access to join any of the groups created, with the ability to create your own. All groups have commitments to remeber when learning, and each group has action items which are updated regularly by the group creator. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Share your progess and comments</h2>
        <p>Let everyone know how you are doing in your journey through our posting feature! Answer questions for newbies in the group, share helpful videos, communicate directly with your instructor. Post videos,gifs, emoji's etc..             </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<style>
    .jumbotron{
        background-color: #a50b0b85;

    }
</style>