@model IEnumerable<MasterGroup.Models.GroupCheckListItem>

@{
    ViewBag.Title = "Index";
}



<p>
</p>
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem; border: solid #a50b0b85; margin: auto auto;">
        <div class="card-body">
            <h5 class="card-title" style="font:bold,small-caps">Weekly Checklist Item</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.ModifiedUtc)</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">1.)@Html.DisplayFor(modelItem => item.Check1)</li>
            <li class="list-group-item">2.)@Html.DisplayFor(modelItem => item.Check2)</li>
            <li class="list-group-item">3.)@Html.DisplayFor(modelItem => item.Check3)</li>
        </ul>
        <div class="card-body">

            @*//if (User.Identity.Name == item.)*@
            

            @Html.ActionLink("Edit", "Edit", "GroupList", new { id = item.GroupId }, null)
            

            @Html.ActionLink("Details", "CheckListDetails", "GroupList", new { groupid = item.GroupId }, null)
        </div>
    </div>
 }
<style>
        .list-group-horizontal{
            background-color:aliceblue;
    }
</style>


